/* non_main.css */
.nvm1{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm1_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm1_11{
    text-align: start;
    
    margin: 4% 7% 3% 1%;
}
p{
    padding-top: 15px;
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
}
button{
    font-size: large;
    padding: 15px;
    /* margin-left: 100%; */
    margin-top: 2%;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
}
spanb{
    font-size: large;
    padding: 15px 15px;
    /* margin-left: 100%; */
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
}
h2{
    text-align: start;
    margin-bottom: 1%;
}
span{
    color: red;
}



/* soups2 */
.nvm2{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm2_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm2_12{
    text-align: start;
    
    margin: 4% 7% 3% 1%;
}

/* soups3 */
.nvm3{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm3_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm3_12{
    text-align: start;
    
    margin: 4% 7% 3% 1%;
}


/* soups4 */
.nvm4{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm4_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm4_12{
    text-align: start;
    
    margin: 4% 7% 3% 1%;
}

/* soups5 */
.nvm5{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm5_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm5_12{
    text-align: start;
    margin: 4% 7% 3% 1%;
}


/* soups6 */
.nvm6{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm6_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm6_12{
    text-align: start;
    
    margin: 4% 7% 3% 1%;
}


/* soups7 */
.nvm7{
    display: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm7_1{
    margin: 3%  1% 3% 4%;
    
}
.nvm7_12{
    text-align: start;
    
    margin: 4% 7% 3% 1%;
}

/* soups8 */
.nvm8{
    display: none;
    justify-content: space-evenly;
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm8_1{
    margin: 3%  1% 3% 4%; 
}
.nvm8_12{
    text-align: start;  
    margin: 4% 7% 3% 1%;
}

/* soups9 */
.nvm9{
    display: none;
    justify-content: space-evenly;
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(211, 75, 75, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm9_1{
    margin: 3%  1% 3% 4%; 
}
.nvm9_12{
    text-align: start;  
    margin: 4% 7% 3% 1%;
}

/* soups10 */
.nvm10{
    display: none;
    justify-content: space-evenly;
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(196, 8, 8, 0.911), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm10_1{
    margin: 3%  1% 3% 4%; 
}
.nvm10_12{
    text-align: start;  
    margin: 4% 7% 3% 1%;
}



/* soups10 */
.nvm11{
    display: none;
    justify-content: space-evenly;
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(196, 8, 8, 0.911), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm11_1{
    margin: 3%  1% 3% 4%; 
}
.nvm11_12{
    text-align: start;  
    margin: 4% 7% 3% 1%;
}


/* soups10 */
.nvm12{
    display: none;
    justify-content: space-evenly;
    margin: 1% 10%;
    border-radius: 10px;
    background-color: rgba(213, 216, 216, 0.587);
    /* box-shadow: 0 0 15px rgba(196, 8, 8, 0.911), 0 0 30px rgba(255, 255, 255, 0.3); */
}
.nvm12_1{
    margin: 3%  1% 3% 4%; 
}
.nvm12_12{
    text-align: start;  
    margin: 4% 7% 3% 1%;
}

